.marquee.container{
    width: 5000%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: black;
    padding: 10px 0;
}
.marquee{
    display: flex;
    gap: 20px;
    animation: marquee 20s linear infinite;
    width: 100%;
    height: 500%;
}
.marquee img{
    height: 250px;
    width: auto;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 7px;
    
 }
.marquee-size{
    width: 100%;
    height: 100%;
}


@keyframes marquee{
    0%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(-100%);
    }
}